[Unit]
Description=CGSpace Statistics Indexer
After=tomcat7.target

[Service]
Environment=SOLR_SERVER=http://localhost:8081/solr
User=nobody
Group=nogroup
WorkingDirectory=/opt/ilri/cgspace-statistics-api
ExecStart=/opt/ilri/cgspace-statistics-api/venv/bin/python indexer.py

[Install]
WantedBy=multi-user.target
