[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "~=20.1.0"
falcon = "~=3.0.0"
psycopg2 = "~=2.9.1"
requests = "~=2.26.0"
falcon-swagger-ui = {editable = true, ref = "falcon3-update-swagger-ui", git = "https://github.com/alanorth/falcon-swagger-ui.git"}

[dev-packages]
ipython = "*"
black = "*"
flake8 = "*"
isort = "*"
pytest = "~=6.2.0"

[requires]
python_version = "3.9"
