[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
falcon = "==2.0.0"
"psycopg2-binary" = "*"
requests = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
pytest = "*"
isort = "*"
black = "==19.10b0"
pytest-clarity = "==0.3.0a0"

[requires]
python_version = "3.8"
