-i https://pypi.org/simple
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
decorator==4.3.0
flake8==3.6.0
ipython-genutils==0.2.0
ipython==7.1.1
jedi==0.13.1
mccabe==0.6.1
more-itertools==4.3.0
parso==0.3.1
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.8.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pygments==2.2.0
pytest==3.10.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
