certifi==2020.12.5
chardet==4.0.0
falcon==2.0.0
-e git+https://github.com/alanorth/falcon-swagger-ui.git@a44244c85dceccfcd249b62fea4ee82a8221e3d2#egg=falcon-swagger-ui
gunicorn==20.0.4
idna==2.10
jinja2==2.11.2
markupsafe==1.1.1
psycopg2-binary==2.8.6
requests==2.25.1
urllib3==1.26.2
